# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/
.dart_tool/
.vscode/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
.dart_tool/
.flutter-plugins
.packages
.pub-cache/
.pub/
/build/

# Android related
**/android/**/gradle-wrapper.jar
**/android/.gradle
**/android/captures/
**/android/gradlew
**/android/gradlew.bat
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.java

# iOS/XCode related
**/ios/**/*.mode1v3
**/ios/**/*.mode2v3
**/ios/**/*.moved-aside
**/ios/**/*.pbxuser
**/ios/**/*.perspectivev3
**/ios/**/*sync/
**/ios/**/.sconsign.dblite
**/ios/**/.tags*
**/ios/**/.vagrant/
**/ios/**/DerivedData/
**/ios/**/Icon?
**/ios/**/Pods/
**/ios/**/.symlinks/
**/ios/**/profile
**/ios/**/xcuserdata
**/ios/.generated/
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/app.flx
**/ios/Flutter/app.zip
**/ios/Flutter/flutter_assets/
**/ios/Flutter/flutter_export_environment.sh
**/ios/ServiceDefinitions.json
**/ios/Runner/GeneratedPluginRegistrant.*

# Exceptions to above rules.
!**/ios/**/default.mode1v3
!**/ios/**/default.mode2v3
!**/ios/**/default.pbxuser
!**/ios/**/default.perspectivev3
!/packages/flutter_tools/test/data/dart_dependencies_test/**/.packages
auto_route/pubspec.lock
auto_route/example/pubspec.lock
auto_route_generator/pubspec.lock
auto_route/example/windows/flutter/ephemeral/flutter_export.h
auto_route/example/windows/flutter/ephemeral/flutter_messenger.h
auto_route/example/windows/flutter/ephemeral/flutter_plugin_registrar.h
auto_route/example/windows/flutter/ephemeral/flutter_texture_registrar.h
auto_route/example/windows/flutter/ephemeral/flutter_windows.dll
auto_route/example/windows/flutter/ephemeral/flutter_windows.dll.exp
auto_route/example/windows/flutter/ephemeral/flutter_windows.dll.lib
auto_route/example/windows/flutter/ephemeral/flutter_windows.dll.pdb
auto_route/example/windows/flutter/ephemeral/flutter_windows.h
auto_route/example/windows/flutter/ephemeral/generated_config.cmake
auto_route/example/windows/flutter/ephemeral/icudtl.dat
auto_route/example/windows/flutter/ephemeral/cpp_client_wrapper/binary_messenger_impl.h
auto_route/example/windows/flutter/ephemeral/cpp_client_wrapper/byte_buffer_streams.h
auto_route/example/windows/flutter/ephemeral/cpp_client_wrapper/core_implementations.cc
auto_route/example/windows/flutter/ephemeral/cpp_client_wrapper/engine_method_result.cc
auto_route/example/windows/flutter/ephemeral/cpp_client_wrapper/flutter_engine.cc
auto_route/example/windows/flutter/ephemeral/cpp_client_wrapper/flutter_view_controller.cc
auto_route/example/windows/flutter/ephemeral/cpp_client_wrapper/plugin_registrar.cc
auto_route/example/windows/flutter/ephemeral/cpp_client_wrapper/README
auto_route/example/windows/flutter/ephemeral/cpp_client_wrapper/standard_codec.cc
auto_route/example/windows/flutter/ephemeral/cpp_client_wrapper/texture_registrar_impl.h
auto_route/example/windows/flutter/ephemeral/cpp_client_wrapper/include/flutter/basic_message_channel.h
auto_route/example/windows/flutter/ephemeral/cpp_client_wrapper/include/flutter/binary_messenger.h
auto_route/example/windows/flutter/ephemeral/cpp_client_wrapper/include/flutter/byte_streams.h
auto_route/example/windows/flutter/ephemeral/cpp_client_wrapper/include/flutter/dart_project.h
auto_route/example/windows/flutter/ephemeral/cpp_client_wrapper/include/flutter/encodable_value.h
auto_route/example/windows/flutter/ephemeral/cpp_client_wrapper/include/flutter/engine_method_result.h
auto_route/example/windows/flutter/ephemeral/cpp_client_wrapper/include/flutter/event_channel.h
auto_route/example/windows/flutter/ephemeral/cpp_client_wrapper/include/flutter/event_sink.h
auto_route/example/windows/flutter/ephemeral/cpp_client_wrapper/include/flutter/event_stream_handler_functions.h
auto_route/example/windows/flutter/ephemeral/cpp_client_wrapper/include/flutter/event_stream_handler.h
auto_route/example/windows/flutter/ephemeral/cpp_client_wrapper/include/flutter/flutter_engine.h
auto_route/example/windows/flutter/ephemeral/cpp_client_wrapper/include/flutter/flutter_view_controller.h
auto_route/example/windows/flutter/ephemeral/cpp_client_wrapper/include/flutter/flutter_view.h
auto_route/example/windows/flutter/ephemeral/cpp_client_wrapper/include/flutter/message_codec.h
auto_route/example/windows/flutter/ephemeral/cpp_client_wrapper/include/flutter/method_call.h
auto_route/example/windows/flutter/ephemeral/cpp_client_wrapper/include/flutter/method_channel.h
auto_route/example/windows/flutter/ephemeral/cpp_client_wrapper/include/flutter/method_codec.h
auto_route/example/windows/flutter/ephemeral/cpp_client_wrapper/include/flutter/method_result_functions.h
auto_route/example/windows/flutter/ephemeral/cpp_client_wrapper/include/flutter/method_result.h
auto_route/example/windows/flutter/ephemeral/cpp_client_wrapper/include/flutter/plugin_registrar_windows.h
auto_route/example/windows/flutter/ephemeral/cpp_client_wrapper/include/flutter/plugin_registrar.h
auto_route/example/windows/flutter/ephemeral/cpp_client_wrapper/include/flutter/plugin_registry.h
auto_route/example/windows/flutter/ephemeral/cpp_client_wrapper/include/flutter/standard_codec_serializer.h
auto_route/example/windows/flutter/ephemeral/cpp_client_wrapper/include/flutter/standard_message_codec.h
auto_route/example/windows/flutter/ephemeral/cpp_client_wrapper/include/flutter/standard_method_codec.h
auto_route/example/windows/flutter/ephemeral/cpp_client_wrapper/include/flutter/texture_registrar.h
